<head>
<meta charset="utf-8">
<style>
.error-text {
    color: #CC0000;
    font-weight: bold;
}
.success-text {
    color: #009933;
    font-weight: bold;
}
.dry-run-text {
    color: #cc0099;
    font-weight: bold;
}
</style>
</head>